assignment-client/src/wsdl/localhost_8080/assignment-service/AdminWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://assignment/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://assignment/" name="AdminWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://assignment/" schemaLocation="http://localhost:8080/assignment-service/AdminWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getBranches">
<part name="parameters" element="tns:getBranches"/>
</message>
<message name="getBranchesResponse">
<part name="parameters" element="tns:getBranchesResponse"/>
</message>
<message name="deleteBranch">
<part name="parameters" element="tns:deleteBranch"/>
</message>
<message name="deleteBranchResponse">
<part name="parameters" element="tns:deleteBranchResponse"/>
</message>
<message name="getVehicleTypes">
<part name="parameters" element="tns:getVehicleTypes"/>
</message>
<message name="getVehicleTypesResponse">
<part name="parameters" element="tns:getVehicleTypesResponse"/>
</message>
<message name="addBranchAdmin">
<part name="parameters" element="tns:addBranchAdmin"/>
</message>
<message name="addBranchAdminResponse">
<part name="parameters" element="tns:addBranchAdminResponse"/>
</message>
<message name="addVehicleType">
<part name="parameters" element="tns:addVehicleType"/>
</message>
<message name="addVehicleTypeResponse">
<part name="parameters" element="tns:addVehicleTypeResponse"/>
</message>
<message name="addDriver">
<part name="parameters" element="tns:addDriver"/>
</message>
<message name="addDriverResponse">
<part name="parameters" element="tns:addDriverResponse"/>
</message>
<message name="authAdmin">
<part name="parameters" element="tns:authAdmin"/>
</message>
<message name="authAdminResponse">
<part name="parameters" element="tns:authAdminResponse"/>
</message>
<message name="deleteDriver">
<part name="parameters" element="tns:deleteDriver"/>
</message>
<message name="deleteDriverResponse">
<part name="parameters" element="tns:deleteDriverResponse"/>
</message>
<message name="addVehicle">
<part name="parameters" element="tns:addVehicle"/>
</message>
<message name="addVehicleResponse">
<part name="parameters" element="tns:addVehicleResponse"/>
</message>
<message name="getVehicles">
<part name="parameters" element="tns:getVehicles"/>
</message>
<message name="getVehiclesResponse">
<part name="parameters" element="tns:getVehiclesResponse"/>
</message>
<message name="getDrivers">
<part name="parameters" element="tns:getDrivers"/>
</message>
<message name="getDriversResponse">
<part name="parameters" element="tns:getDriversResponse"/>
</message>
<message name="updateDriver">
<part name="parameters" element="tns:updateDriver"/>
</message>
<message name="updateDriverResponse">
<part name="parameters" element="tns:updateDriverResponse"/>
</message>
<message name="addBranch">
<part name="parameters" element="tns:addBranch"/>
</message>
<message name="addBranchResponse">
<part name="parameters" element="tns:addBranchResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getBranchById">
<part name="parameters" element="tns:getBranchById"/>
</message>
<message name="getBranchByIdResponse">
<part name="parameters" element="tns:getBranchByIdResponse"/>
</message>
<message name="deleteVehicle">
<part name="parameters" element="tns:deleteVehicle"/>
</message>
<message name="deleteVehicleResponse">
<part name="parameters" element="tns:deleteVehicleResponse"/>
</message>
<message name="getDriverById">
<part name="parameters" element="tns:getDriverById"/>
</message>
<message name="getDriverByIdResponse">
<part name="parameters" element="tns:getDriverByIdResponse"/>
</message>
<message name="updateVehicle">
<part name="parameters" element="tns:updateVehicle"/>
</message>
<message name="updateVehicleResponse">
<part name="parameters" element="tns:updateVehicleResponse"/>
</message>
<message name="getBranchAdmin">
<part name="parameters" element="tns:getBranchAdmin"/>
</message>
<message name="getBranchAdminResponse">
<part name="parameters" element="tns:getBranchAdminResponse"/>
</message>
<message name="updateBranch">
<part name="parameters" element="tns:updateBranch"/>
</message>
<message name="updateBranchResponse">
<part name="parameters" element="tns:updateBranchResponse"/>
</message>
<message name="getLastBookings">
<part name="parameters" element="tns:getLastBookings"/>
</message>
<message name="getLastBookingsResponse">
<part name="parameters" element="tns:getLastBookingsResponse"/>
</message>
<message name="getVehicleById">
<part name="parameters" element="tns:getVehicleById"/>
</message>
<message name="getVehicleByIdResponse">
<part name="parameters" element="tns:getVehicleByIdResponse"/>
</message>
<message name="getAdminByEmail">
<part name="parameters" element="tns:getAdminByEmail"/>
</message>
<message name="getAdminByEmailResponse">
<part name="parameters" element="tns:getAdminByEmailResponse"/>
</message>
<message name="getVehicleTypeById">
<part name="parameters" element="tns:getVehicleTypeById"/>
</message>
<message name="getVehicleTypeByIdResponse">
<part name="parameters" element="tns:getVehicleTypeByIdResponse"/>
</message>
<message name="updateVehicleType">
<part name="parameters" element="tns:updateVehicleType"/>
</message>
<message name="updateVehicleTypeResponse">
<part name="parameters" element="tns:updateVehicleTypeResponse"/>
</message>
<message name="updateBranchAdmin">
<part name="parameters" element="tns:updateBranchAdmin"/>
</message>
<message name="updateBranchAdminResponse">
<part name="parameters" element="tns:updateBranchAdminResponse"/>
</message>
<message name="deleteVehicleType">
<part name="parameters" element="tns:deleteVehicleType"/>
</message>
<message name="deleteVehicleTypeResponse">
<part name="parameters" element="tns:deleteVehicleTypeResponse"/>
</message>
<message name="getBranchAdminById">
<part name="parameters" element="tns:getBranchAdminById"/>
</message>
<message name="getBranchAdminByIdResponse">
<part name="parameters" element="tns:getBranchAdminByIdResponse"/>
</message>
<message name="deleteBranchAdmin">
<part name="parameters" element="tns:deleteBranchAdmin"/>
</message>
<message name="deleteBranchAdminResponse">
<part name="parameters" element="tns:deleteBranchAdminResponse"/>
</message>
<message name="getAllDriverCount">
<part name="parameters" element="tns:getAllDriverCount"/>
</message>
<message name="getAllDriverCountResponse">
<part name="parameters" element="tns:getAllDriverCountResponse"/>
</message>
<message name="getAllCustomerCount">
<part name="parameters" element="tns:getAllCustomerCount"/>
</message>
<message name="getAllCustomerCountResponse">
<part name="parameters" element="tns:getAllCustomerCountResponse"/>
</message>
<message name="getAllVehicleCount">
<part name="parameters" element="tns:getAllVehicleCount"/>
</message>
<message name="getAllVehicleCountResponse">
<part name="parameters" element="tns:getAllVehicleCountResponse"/>
</message>
<message name="getAllBookingCount">
<part name="parameters" element="tns:getAllBookingCount"/>
</message>
<message name="getAllBookingCountResponse">
<part name="parameters" element="tns:getAllBookingCountResponse"/>
</message>
<portType name="AdminWebService">
<operation name="getBranches">
<input wsam:Action="http://assignment/AdminWebService/getBranchesRequest" message="tns:getBranches"/>
<output wsam:Action="http://assignment/AdminWebService/getBranchesResponse" message="tns:getBranchesResponse"/>
</operation>
<operation name="deleteBranch">
<input wsam:Action="http://assignment/AdminWebService/deleteBranchRequest" message="tns:deleteBranch"/>
<output wsam:Action="http://assignment/AdminWebService/deleteBranchResponse" message="tns:deleteBranchResponse"/>
</operation>
<operation name="getVehicleTypes">
<input wsam:Action="http://assignment/AdminWebService/getVehicleTypesRequest" message="tns:getVehicleTypes"/>
<output wsam:Action="http://assignment/AdminWebService/getVehicleTypesResponse" message="tns:getVehicleTypesResponse"/>
</operation>
<operation name="addBranchAdmin">
<input wsam:Action="http://assignment/AdminWebService/addBranchAdminRequest" message="tns:addBranchAdmin"/>
<output wsam:Action="http://assignment/AdminWebService/addBranchAdminResponse" message="tns:addBranchAdminResponse"/>
</operation>
<operation name="addVehicleType">
<input wsam:Action="http://assignment/AdminWebService/addVehicleTypeRequest" message="tns:addVehicleType"/>
<output wsam:Action="http://assignment/AdminWebService/addVehicleTypeResponse" message="tns:addVehicleTypeResponse"/>
</operation>
<operation name="addDriver">
<input wsam:Action="http://assignment/AdminWebService/addDriverRequest" message="tns:addDriver"/>
<output wsam:Action="http://assignment/AdminWebService/addDriverResponse" message="tns:addDriverResponse"/>
</operation>
<operation name="authAdmin">
<input wsam:Action="http://assignment/AdminWebService/authAdminRequest" message="tns:authAdmin"/>
<output wsam:Action="http://assignment/AdminWebService/authAdminResponse" message="tns:authAdminResponse"/>
</operation>
<operation name="deleteDriver">
<input wsam:Action="http://assignment/AdminWebService/deleteDriverRequest" message="tns:deleteDriver"/>
<output wsam:Action="http://assignment/AdminWebService/deleteDriverResponse" message="tns:deleteDriverResponse"/>
</operation>
<operation name="addVehicle">
<input wsam:Action="http://assignment/AdminWebService/addVehicleRequest" message="tns:addVehicle"/>
<output wsam:Action="http://assignment/AdminWebService/addVehicleResponse" message="tns:addVehicleResponse"/>
</operation>
<operation name="getVehicles">
<input wsam:Action="http://assignment/AdminWebService/getVehiclesRequest" message="tns:getVehicles"/>
<output wsam:Action="http://assignment/AdminWebService/getVehiclesResponse" message="tns:getVehiclesResponse"/>
</operation>
<operation name="getDrivers">
<input wsam:Action="http://assignment/AdminWebService/getDriversRequest" message="tns:getDrivers"/>
<output wsam:Action="http://assignment/AdminWebService/getDriversResponse" message="tns:getDriversResponse"/>
</operation>
<operation name="updateDriver">
<input wsam:Action="http://assignment/AdminWebService/updateDriverRequest" message="tns:updateDriver"/>
<output wsam:Action="http://assignment/AdminWebService/updateDriverResponse" message="tns:updateDriverResponse"/>
</operation>
<operation name="addBranch">
<input wsam:Action="http://assignment/AdminWebService/addBranchRequest" message="tns:addBranch"/>
<output wsam:Action="http://assignment/AdminWebService/addBranchResponse" message="tns:addBranchResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://assignment/AdminWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://assignment/AdminWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getBranchById">
<input wsam:Action="http://assignment/AdminWebService/getBranchByIdRequest" message="tns:getBranchById"/>
<output wsam:Action="http://assignment/AdminWebService/getBranchByIdResponse" message="tns:getBranchByIdResponse"/>
</operation>
<operation name="deleteVehicle">
<input wsam:Action="http://assignment/AdminWebService/deleteVehicleRequest" message="tns:deleteVehicle"/>
<output wsam:Action="http://assignment/AdminWebService/deleteVehicleResponse" message="tns:deleteVehicleResponse"/>
</operation>
<operation name="getDriverById">
<input wsam:Action="http://assignment/AdminWebService/getDriverByIdRequest" message="tns:getDriverById"/>
<output wsam:Action="http://assignment/AdminWebService/getDriverByIdResponse" message="tns:getDriverByIdResponse"/>
</operation>
<operation name="updateVehicle">
<input wsam:Action="http://assignment/AdminWebService/updateVehicleRequest" message="tns:updateVehicle"/>
<output wsam:Action="http://assignment/AdminWebService/updateVehicleResponse" message="tns:updateVehicleResponse"/>
</operation>
<operation name="getBranchAdmin">
<input wsam:Action="http://assignment/AdminWebService/getBranchAdminRequest" message="tns:getBranchAdmin"/>
<output wsam:Action="http://assignment/AdminWebService/getBranchAdminResponse" message="tns:getBranchAdminResponse"/>
</operation>
<operation name="updateBranch">
<input wsam:Action="http://assignment/AdminWebService/updateBranchRequest" message="tns:updateBranch"/>
<output wsam:Action="http://assignment/AdminWebService/updateBranchResponse" message="tns:updateBranchResponse"/>
</operation>
<operation name="getLastBookings">
<input wsam:Action="http://assignment/AdminWebService/getLastBookingsRequest" message="tns:getLastBookings"/>
<output wsam:Action="http://assignment/AdminWebService/getLastBookingsResponse" message="tns:getLastBookingsResponse"/>
</operation>
<operation name="getVehicleById">
<input wsam:Action="http://assignment/AdminWebService/getVehicleByIdRequest" message="tns:getVehicleById"/>
<output wsam:Action="http://assignment/AdminWebService/getVehicleByIdResponse" message="tns:getVehicleByIdResponse"/>
</operation>
<operation name="getAdminByEmail">
<input wsam:Action="http://assignment/AdminWebService/getAdminByEmailRequest" message="tns:getAdminByEmail"/>
<output wsam:Action="http://assignment/AdminWebService/getAdminByEmailResponse" message="tns:getAdminByEmailResponse"/>
</operation>
<operation name="getVehicleTypeById">
<input wsam:Action="http://assignment/AdminWebService/getVehicleTypeByIdRequest" message="tns:getVehicleTypeById"/>
<output wsam:Action="http://assignment/AdminWebService/getVehicleTypeByIdResponse" message="tns:getVehicleTypeByIdResponse"/>
</operation>
<operation name="updateVehicleType">
<input wsam:Action="http://assignment/AdminWebService/updateVehicleTypeRequest" message="tns:updateVehicleType"/>
<output wsam:Action="http://assignment/AdminWebService/updateVehicleTypeResponse" message="tns:updateVehicleTypeResponse"/>
</operation>
<operation name="updateBranchAdmin">
<input wsam:Action="http://assignment/AdminWebService/updateBranchAdminRequest" message="tns:updateBranchAdmin"/>
<output wsam:Action="http://assignment/AdminWebService/updateBranchAdminResponse" message="tns:updateBranchAdminResponse"/>
</operation>
<operation name="deleteVehicleType">
<input wsam:Action="http://assignment/AdminWebService/deleteVehicleTypeRequest" message="tns:deleteVehicleType"/>
<output wsam:Action="http://assignment/AdminWebService/deleteVehicleTypeResponse" message="tns:deleteVehicleTypeResponse"/>
</operation>
<operation name="getBranchAdminById">
<input wsam:Action="http://assignment/AdminWebService/getBranchAdminByIdRequest" message="tns:getBranchAdminById"/>
<output wsam:Action="http://assignment/AdminWebService/getBranchAdminByIdResponse" message="tns:getBranchAdminByIdResponse"/>
</operation>
<operation name="deleteBranchAdmin">
<input wsam:Action="http://assignment/AdminWebService/deleteBranchAdminRequest" message="tns:deleteBranchAdmin"/>
<output wsam:Action="http://assignment/AdminWebService/deleteBranchAdminResponse" message="tns:deleteBranchAdminResponse"/>
</operation>
<operation name="getAllDriverCount">
<input wsam:Action="http://assignment/AdminWebService/getAllDriverCountRequest" message="tns:getAllDriverCount"/>
<output wsam:Action="http://assignment/AdminWebService/getAllDriverCountResponse" message="tns:getAllDriverCountResponse"/>
</operation>
<operation name="getAllCustomerCount">
<input wsam:Action="http://assignment/AdminWebService/getAllCustomerCountRequest" message="tns:getAllCustomerCount"/>
<output wsam:Action="http://assignment/AdminWebService/getAllCustomerCountResponse" message="tns:getAllCustomerCountResponse"/>
</operation>
<operation name="getAllVehicleCount">
<input wsam:Action="http://assignment/AdminWebService/getAllVehicleCountRequest" message="tns:getAllVehicleCount"/>
<output wsam:Action="http://assignment/AdminWebService/getAllVehicleCountResponse" message="tns:getAllVehicleCountResponse"/>
</operation>
<operation name="getAllBookingCount">
<input wsam:Action="http://assignment/AdminWebService/getAllBookingCountRequest" message="tns:getAllBookingCount"/>
<output wsam:Action="http://assignment/AdminWebService/getAllBookingCountResponse" message="tns:getAllBookingCountResponse"/>
</operation>
</portType>
<binding name="AdminWebServicePortBinding" type="tns:AdminWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getBranches">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBranchAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addVehicleType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="authAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDrivers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranchById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDriverById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranchAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastBookings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAdminByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleTypeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateVehicleType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBranchAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteVehicleType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranchAdminById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBranchAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllDriverCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCustomerCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllVehicleCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllBookingCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdminWebService">
<port name="AdminWebServicePort" binding="tns:AdminWebServicePortBinding">
<soap:address location="http://localhost:8080/assignment-service/AdminWebService"/>
</port>
</service>
</definitions>