assignment-client/src/wsdl/localhost_8080/assignment-service/AdminWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://assignment/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://assignment/">

<xs:element name="addBranch" type="tns:addBranch"/>

<xs:element name="addBranchAdmin" type="tns:addBranchAdmin"/>

<xs:element name="addBranchAdminResponse" type="tns:addBranchAdminResponse"/>

<xs:element name="addBranchResponse" type="tns:addBranchResponse"/>

<xs:element name="addDriver" type="tns:addDriver"/>

<xs:element name="addDriverResponse" type="tns:addDriverResponse"/>

<xs:element name="addVehicle" type="tns:addVehicle"/>

<xs:element name="addVehicleResponse" type="tns:addVehicleResponse"/>

<xs:element name="addVehicleType" type="tns:addVehicleType"/>

<xs:element name="addVehicleTypeResponse" type="tns:addVehicleTypeResponse"/>

<xs:element name="authAdmin" type="tns:authAdmin"/>

<xs:element name="authAdminResponse" type="tns:authAdminResponse"/>

<xs:element name="deleteBranch" type="tns:deleteBranch"/>

<xs:element name="deleteBranchAdmin" type="tns:deleteBranchAdmin"/>

<xs:element name="deleteBranchAdminResponse" type="tns:deleteBranchAdminResponse"/>

<xs:element name="deleteBranchResponse" type="tns:deleteBranchResponse"/>

<xs:element name="deleteDriver" type="tns:deleteDriver"/>

<xs:element name="deleteDriverResponse" type="tns:deleteDriverResponse"/>

<xs:element name="deleteVehicle" type="tns:deleteVehicle"/>

<xs:element name="deleteVehicleResponse" type="tns:deleteVehicleResponse"/>

<xs:element name="deleteVehicleType" type="tns:deleteVehicleType"/>

<xs:element name="deleteVehicleTypeResponse" type="tns:deleteVehicleTypeResponse"/>

<xs:element name="getAdminByEmail" type="tns:getAdminByEmail"/>

<xs:element name="getAdminByEmailResponse" type="tns:getAdminByEmailResponse"/>

<xs:element name="getAllBookingCount" type="tns:getAllBookingCount"/>

<xs:element name="getAllBookingCountResponse" type="tns:getAllBookingCountResponse"/>

<xs:element name="getAllCustomerCount" type="tns:getAllCustomerCount"/>

<xs:element name="getAllCustomerCountResponse" type="tns:getAllCustomerCountResponse"/>

<xs:element name="getAllDriverCount" type="tns:getAllDriverCount"/>

<xs:element name="getAllDriverCountResponse" type="tns:getAllDriverCountResponse"/>

<xs:element name="getAllVehicleCount" type="tns:getAllVehicleCount"/>

<xs:element name="getAllVehicleCountResponse" type="tns:getAllVehicleCountResponse"/>

<xs:element name="getBranchAdmin" type="tns:getBranchAdmin"/>

<xs:element name="getBranchAdminById" type="tns:getBranchAdminById"/>

<xs:element name="getBranchAdminByIdResponse" type="tns:getBranchAdminByIdResponse"/>

<xs:element name="getBranchAdminResponse" type="tns:getBranchAdminResponse"/>

<xs:element name="getBranchById" type="tns:getBranchById"/>

<xs:element name="getBranchByIdResponse" type="tns:getBranchByIdResponse"/>

<xs:element name="getBranches" type="tns:getBranches"/>

<xs:element name="getBranchesResponse" type="tns:getBranchesResponse"/>

<xs:element name="getDriverById" type="tns:getDriverById"/>

<xs:element name="getDriverByIdResponse" type="tns:getDriverByIdResponse"/>

<xs:element name="getDrivers" type="tns:getDrivers"/>

<xs:element name="getDriversResponse" type="tns:getDriversResponse"/>

<xs:element name="getLastBookings" type="tns:getLastBookings"/>

<xs:element name="getLastBookingsResponse" type="tns:getLastBookingsResponse"/>

<xs:element name="getVehicleById" type="tns:getVehicleById"/>

<xs:element name="getVehicleByIdResponse" type="tns:getVehicleByIdResponse"/>

<xs:element name="getVehicleTypeById" type="tns:getVehicleTypeById"/>

<xs:element name="getVehicleTypeByIdResponse" type="tns:getVehicleTypeByIdResponse"/>

<xs:element name="getVehicleTypes" type="tns:getVehicleTypes"/>

<xs:element name="getVehicleTypesResponse" type="tns:getVehicleTypesResponse"/>

<xs:element name="getVehicles" type="tns:getVehicles"/>

<xs:element name="getVehiclesResponse" type="tns:getVehiclesResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="updateBranch" type="tns:updateBranch"/>

<xs:element name="updateBranchAdmin" type="tns:updateBranchAdmin"/>

<xs:element name="updateBranchAdminResponse" type="tns:updateBranchAdminResponse"/>

<xs:element name="updateBranchResponse" type="tns:updateBranchResponse"/>

<xs:element name="updateDriver" type="tns:updateDriver"/>

<xs:element name="updateDriverResponse" type="tns:updateDriverResponse"/>

<xs:element name="updateVehicle" type="tns:updateVehicle"/>

<xs:element name="updateVehicleResponse" type="tns:updateVehicleResponse"/>

<xs:element name="updateVehicleType" type="tns:updateVehicleType"/>

<xs:element name="updateVehicleTypeResponse" type="tns:updateVehicleTypeResponse"/>

<xs:complexType name="getBranchById">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:branch" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="branch">
<xs:sequence>
<xs:element name="addressLine" type="xs:string" minOccurs="0"/>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fixedLine" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCustomerCount">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllCustomerCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicle">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
<xs:element name="vehicleTypeId" type="xs:int"/>
<xs:element name="registerNo" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerKm" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdminByEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdminByEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="admin">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="personID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBranchAdmin">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBranchAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicle">
<xs:sequence>
<xs:element name="vehicleId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDriver">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="dLicense" type="xs:string" minOccurs="0"/>
<xs:element name="nic" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authAdmin">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBranch">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBranchResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicleType">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicleTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleTypes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVehicleTypesResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicleType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vehicleType">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="vehicleTypeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriver">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="dLicense" type="xs:string" minOccurs="0"/>
<xs:element name="nic" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllDriverCount">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllDriverCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverById">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driver">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="drivingLicens" type="xs:string" minOccurs="0"/>
<xs:element name="nic" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="deleteVehicleType">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicleTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllBookingCount">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllBookingCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDriver">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastBookings">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLastBookingsResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="bookingId" type="xs:int"/>
<xs:element name="driverId" type="xs:int"/>
<xs:element name="dropCity" type="xs:int"/>
<xs:element name="dropstreet" type="xs:string" minOccurs="0"/>
<xs:element name="pickCity" type="xs:int"/>
<xs:element name="pickStreet" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:int"/>
<xs:element name="userId" type="xs:int"/>
<xs:element name="vehicleId" type="xs:int"/>
<xs:element name="vehicleType" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleById">
<xs:sequence>
<xs:element name="vehicleId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vehicle">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
<xs:element name="ratePerKm" type="xs:double"/>
<xs:element name="registerNo" type="xs:string" minOccurs="0"/>
<xs:element name="vehicleId" type="xs:int"/>
<xs:element name="vehicleTypeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleTypeById">
<xs:sequence>
<xs:element name="typeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleTypeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBranchAdmin">
<xs:sequence>
<xs:element name="branchAdminId" type="xs:int"/>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBranchAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranch">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="fixedLine" type="xs:string" minOccurs="0"/>
<xs:element name="addressLine" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranchResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBranch">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="fixedLine" type="xs:string" minOccurs="0"/>
<xs:element name="addressLine" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBranchResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicle">
<xs:sequence>
<xs:element name="vehicleId" type="xs:int"/>
<xs:element name="driverId" type="xs:int"/>
<xs:element name="vehicleTypeId" type="xs:int"/>
<xs:element name="registerNo" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerKm" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchAdmin">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBranchAdminResponse">
<xs:sequence>
<xs:element name="return" type="tns:admin" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranches">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBranchesResponse">
<xs:sequence>
<xs:element name="return" type="tns:branch" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllVehicleCount">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllVehicleCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranchAdmin">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranchAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDrivers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDriversResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicleType">
<xs:sequence>
<xs:element name="typeId" type="xs:int"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicleTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchAdminById">
<xs:sequence>
<xs:element name="adminId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchAdminByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVehiclesResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicle" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>