assignment-client/src/wsdl/localhost_8080/assignment-service/CustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://assignment/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://assignment/" name="CustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://assignment/" schemaLocation="http://localhost:8080/assignment-service/CustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="authCustomer">
<part name="parameters" element="tns:authCustomer"/>
</message>
<message name="authCustomerResponse">
<part name="parameters" element="tns:authCustomerResponse"/>
</message>
<message name="acceptBooking">
<part name="parameters" element="tns:acceptBooking"/>
</message>
<message name="acceptBookingResponse">
<part name="parameters" element="tns:acceptBookingResponse"/>
</message>
<message name="getVehicleByVehicleType">
<part name="parameters" element="tns:getVehicleByVehicleType"/>
</message>
<message name="getVehicleByVehicleTypeResponse">
<part name="parameters" element="tns:getVehicleByVehicleTypeResponse"/>
</message>
<message name="getDiatanceByDropAndPickCity">
<part name="parameters" element="tns:getDiatanceByDropAndPickCity"/>
</message>
<message name="getDiatanceByDropAndPickCityResponse">
<part name="parameters" element="tns:getDiatanceByDropAndPickCityResponse"/>
</message>
<message name="getBookingsByUserId">
<part name="parameters" element="tns:getBookingsByUserId"/>
</message>
<message name="getBookingsByUserIdResponse">
<part name="parameters" element="tns:getBookingsByUserIdResponse"/>
</message>
<message name="getCustomerByEmail">
<part name="parameters" element="tns:getCustomerByEmail"/>
</message>
<message name="getCustomerByEmailResponse">
<part name="parameters" element="tns:getCustomerByEmailResponse"/>
</message>
<portType name="CustomerWebService">
<operation name="hello">
<input wsam:Action="http://assignment/CustomerWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://assignment/CustomerWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://assignment/CustomerWebService/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://assignment/CustomerWebService/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="authCustomer">
<input wsam:Action="http://assignment/CustomerWebService/authCustomerRequest" message="tns:authCustomer"/>
<output wsam:Action="http://assignment/CustomerWebService/authCustomerResponse" message="tns:authCustomerResponse"/>
</operation>
<operation name="acceptBooking">
<input wsam:Action="http://assignment/CustomerWebService/acceptBookingRequest" message="tns:acceptBooking"/>
<output wsam:Action="http://assignment/CustomerWebService/acceptBookingResponse" message="tns:acceptBookingResponse"/>
</operation>
<operation name="getVehicleByVehicleType">
<input wsam:Action="http://assignment/CustomerWebService/getVehicleByVehicleTypeRequest" message="tns:getVehicleByVehicleType"/>
<output wsam:Action="http://assignment/CustomerWebService/getVehicleByVehicleTypeResponse" message="tns:getVehicleByVehicleTypeResponse"/>
</operation>
<operation name="getDiatanceByDropAndPickCity">
<input wsam:Action="http://assignment/CustomerWebService/getDiatanceByDropAndPickCityRequest" message="tns:getDiatanceByDropAndPickCity"/>
<output wsam:Action="http://assignment/CustomerWebService/getDiatanceByDropAndPickCityResponse" message="tns:getDiatanceByDropAndPickCityResponse"/>
</operation>
<operation name="getBookingsByUserId">
<input wsam:Action="http://assignment/CustomerWebService/getBookingsByUserIdRequest" message="tns:getBookingsByUserId"/>
<output wsam:Action="http://assignment/CustomerWebService/getBookingsByUserIdResponse" message="tns:getBookingsByUserIdResponse"/>
</operation>
<operation name="getCustomerByEmail">
<input wsam:Action="http://assignment/CustomerWebService/getCustomerByEmailRequest" message="tns:getCustomerByEmail"/>
<output wsam:Action="http://assignment/CustomerWebService/getCustomerByEmailResponse" message="tns:getCustomerByEmailResponse"/>
</operation>
</portType>
<binding name="CustomerWebServicePortBinding" type="tns:CustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="authCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acceptBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleByVehicleType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDiatanceByDropAndPickCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookingsByUserId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWebService">
<port name="CustomerWebServicePort" binding="tns:CustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/assignment-service/CustomerWebService"/>
</port>
</service>
</definitions>