assignment-client/src/wsdl/localhost_8080/assignment-service/DriverWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://assignment/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://assignment/" name="DriverWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://assignment/" schemaLocation="http://localhost:8080/assignment-service/DriverWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="authDriver">
<part name="parameters" element="tns:authDriver"/>
</message>
<message name="authDriverResponse">
<part name="parameters" element="tns:authDriverResponse"/>
</message>
<message name="getDriverByEmail">
<part name="parameters" element="tns:getDriverByEmail"/>
</message>
<message name="getDriverByEmailResponse">
<part name="parameters" element="tns:getDriverByEmailResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="completeBooking">
<part name="parameters" element="tns:completeBooking"/>
</message>
<message name="completeBookingResponse">
<part name="parameters" element="tns:completeBookingResponse"/>
</message>
<message name="acceptDriverBooking">
<part name="parameters" element="tns:acceptDriverBooking"/>
</message>
<message name="acceptDriverBookingResponse">
<part name="parameters" element="tns:acceptDriverBookingResponse"/>
</message>
<message name="rejectDriverBooking">
<part name="parameters" element="tns:rejectDriverBooking"/>
</message>
<message name="rejectDriverBookingResponse">
<part name="parameters" element="tns:rejectDriverBookingResponse"/>
</message>
<message name="getBookingsByDriverId">
<part name="parameters" element="tns:getBookingsByDriverId"/>
</message>
<message name="getBookingsByDriverIdResponse">
<part name="parameters" element="tns:getBookingsByDriverIdResponse"/>
</message>
<portType name="DriverWebService">
<operation name="authDriver">
<input wsam:Action="http://assignment/DriverWebService/authDriverRequest" message="tns:authDriver"/>
<output wsam:Action="http://assignment/DriverWebService/authDriverResponse" message="tns:authDriverResponse"/>
</operation>
<operation name="getDriverByEmail">
<input wsam:Action="http://assignment/DriverWebService/getDriverByEmailRequest" message="tns:getDriverByEmail"/>
<output wsam:Action="http://assignment/DriverWebService/getDriverByEmailResponse" message="tns:getDriverByEmailResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://assignment/DriverWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://assignment/DriverWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="completeBooking">
<input wsam:Action="http://assignment/DriverWebService/completeBookingRequest" message="tns:completeBooking"/>
<output wsam:Action="http://assignment/DriverWebService/completeBookingResponse" message="tns:completeBookingResponse"/>
</operation>
<operation name="acceptDriverBooking">
<input wsam:Action="http://assignment/DriverWebService/acceptDriverBookingRequest" message="tns:acceptDriverBooking"/>
<output wsam:Action="http://assignment/DriverWebService/acceptDriverBookingResponse" message="tns:acceptDriverBookingResponse"/>
</operation>
<operation name="rejectDriverBooking">
<input wsam:Action="http://assignment/DriverWebService/rejectDriverBookingRequest" message="tns:rejectDriverBooking"/>
<output wsam:Action="http://assignment/DriverWebService/rejectDriverBookingResponse" message="tns:rejectDriverBookingResponse"/>
</operation>
<operation name="getBookingsByDriverId">
<input wsam:Action="http://assignment/DriverWebService/getBookingsByDriverIdRequest" message="tns:getBookingsByDriverId"/>
<output wsam:Action="http://assignment/DriverWebService/getBookingsByDriverIdResponse" message="tns:getBookingsByDriverIdResponse"/>
</operation>
</portType>
<binding name="DriverWebServicePortBinding" type="tns:DriverWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="authDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDriverByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="completeBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acceptDriverBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rejectDriverBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookingsByDriverId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DriverWebService">
<port name="DriverWebServicePort" binding="tns:DriverWebServicePortBinding">
<soap:address location="http://localhost:8080/assignment-service/DriverWebService"/>
</port>
</service>
</definitions>